.about {
    &-me {
        &-image{ 
                max-width: 400px !important;
        }
        &-text {
            p {
                margin-bottom: 20px !important;

                @include mobile {
                    text-align: justify;
                    padding: 0 20px;
                }
            }
            h3{
                font-size: 26px;
                font-weight: 500;
                margin-bottom: 30px;
            }
        }
    }
}