.instagram-section {

  &-gallery {
    ul {
      list-style-type: none;
      display: inline-flex;
      padding-inline-start: 0px;
      li{

        &:nth-child(1) {
          @include mobile {
            display: none;
          }
        }
  
        &:nth-child(2) {
          @include mobile {
            display: none;
          }
        }
  
        &:nth-child(3) {
          @include mobile {
            display: none;
          }
        }
  
        a {
          img {
            width: 100%;
          }
        }
      }
      }
    }


}