<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="featured-post">
                    <div class="featured-post-content col-lg-4  col-md-12 col-sm-12  ">
                        {{/*  <div class="featured-post-author">
                            <img src="{{ $.Site.Params.authorThumb | absURL }}" alt="author" />
                            <p>By <a href={{ "about" | absURL }}>{{ $.Site.Params.author }}</a></p>
                        </div>  */}}
                        <p class="featured-post-title">
                            {{ .Site.Data.hero_homepage.heroTitle }}
                        </p>
                        <ul class="featured-post-meta">
                           <li>
                            <p>{{ .Site.Data.hero_homepage.heroDescription }}</p>
                            <p>{{ .Site.Data.hero_homepage.heroSmallDesctiption }}</p>
                           </li>
                        </ul>
                    </div>
                    <div class="featured-post-thumb">
                        <img src="{{ .Site.Data.hero_homepage.heroImage }}" alt="feature-post-thumb" />
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>