{{ with .Site.Data.instagram }}
{{ if .enable }}
<section class="instagram-section">
  <div class="container-fluid">
    <div class="col-lg-12" style="padding: 0px;">
      
        <div class="instagram-section-gallery">
          <ul>
            {{ range .instaImages }}
            {{- $image := resources.Get (printf "%s" .) -}}
            {{- $imageurl := printf "%s" . -}}
            {{- $imagetitle := index (split . "/") 2 -}}
            {{- $imagetitle := index (split $imagetitle ".") 0 -}}
            <li>
              <a href="{{ ($image.Fit " 1600x2133 q80").Permalink }}" title="{{ $imagetitle }}" class="lightbox-image" data-lightbox="x">
                <img src="{{ ($image.Fill " 310x415 q80").Permalink }}" alt="{{ $imagetitle }}"
                  title="{{ $imagetitle }}">
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      
    </div>
  </div>
</section>
{{ end }}
{{ end }}