<ul class="blog-image-gallery">
    {{ $image := (.Page.Resources.ByType "image") }}
    {{ with $image }}
    {{ range . }}
    {{ $thumbname := printf "%s/%s%s%s" (path.Dir .RelPermalink) (path.BaseName .RelPermalink) "_t" (path.Ext
    .RelPermalink) }}
    {{ $imagetitle := index (split .Name "/") 1}}
    {{- $imagetitle := index (split $imagetitle ".") 0 -}}
    {{ $resized := .Fill "300x300 q50" | resources.Copy $thumbname }}
    <li>
        <a href="{{ .Permalink }}" data-title="{{ with .Exif }}{{ .Tags.ImageDescription }}{{ end }}"
            class="lightbox-image" data-lightbox="x" title="$imagetitle">
            <img src="{{ ($resized).Permalink }}" alt="{{$imagetitle}}"/>
            
        </a>
    </li>
    {{ end }}
    {{ end }}

</ul>


